.app {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
    "encabezado"
    "contenido"
    "rodapie";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;
}

header {
    grid-area: encabezado;
    align-items: center;
    display: flex;

    
}


.menu__item a{
    justify-content: space-around;
    font-size: 17px;
    margin-right: 25px;
    color: #333333;
    padding: .75rem 0rem;
}

.menu__link:hover{
    border-bottom: 3px solid rgb(64, 11, 211);
}

.activo{
    border-bottom: 3px solid rgb(64, 11, 211) ;
}


.contenido {
    grid-area: contenido;
}

.rodapie { 
    grid-area: rodapie;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #333333c9;
}

.rodapie-conteine{
    background: #fcf7f7;
    margin-top: 30px;
}